/*=====================================
=            Header Styles            =
=====================================*/

.content {
	z-index: 1;
	position: relative;
	flex-grow: 1;
	& > * {
		height: 100%;
	}
}
