/*===================================
=            Logo Styles            =
===================================*/

.logo {
	&,
	&__image {
		display: inline-block;
		vertical-align: middle;
		font-weight: 700;
	}
}
