/*=====================================
=            Header Styles            =
=====================================*/

@import '../../assets/styles/helpers/colors';
@import '../../assets/styles/helpers/units';

.header {
	z-index: 2;
	position: relative;
	flex-shrink: 0;
	box-shadow: 0 0 rem(4) get-color('black', 0.25);
	a {
		color: inherit;
	}
	&__inner {
		display: flex;
		align-items: center;
		padding: rem(12) 0;
	}
	&__column {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: rem(3) 0;
		& > * {
			& + * {
				margin-left: rem(3);
			}
		}
		&.column {
			&--full {
				flex-grow: 1;
			}
		}
		&:last-child {
			justify-content: flex-end;
		}
		&:first-child {
			justify-content: flex-start;
		}
	}
	&__logo {
		display: inline-block;
		font-weight: 700;
		&:focus {
			opacity: 0.8;
		}
	}
}
